{% extends "hello/layout.html" %}
{% block title %}Care Documents{% endblock %}
{% block content %}
<h2>Select a Shared Account (Horse) to Edit Care Document</h2>
<ul class="care-user-list" style="font-size:24px; line-height:1.5;">
    {% for account in shared_accounts %}
        <li style="font-size:24px !important;">
            <a href="{% url 'care_with_user' account.id %}" style="font-size:24px !important; line-height:1.5 !important; color: #2d014d !important;">{{ account.name }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
